/* FHEM Tablet UI 2.6 - eigene Farben */

/* flx Colors */
.flx_blue {
    color: #00A1DE;
}
.flx_darkblue {
    color: #00549F;
}
.flx_green {
    color: #69BE28;
}
.flx_yellow {
    color: #ECC200;
}
.flx_orange {
    color: #E17000;
}
.flx_gray {
    color: #DFD2CA;
}
/* additional Colors */
.flx_red {
    color: #FF0000;
}
.flx_light_red {
    color: #EF3C00;
}
.flx_light_orange {
    color: #FC9E4F;
}
.flx_violett {
    color: #66A5AD;
}
.flx_green_yellow {
    color: #AFC013;
}









